<div id="headbar_container">
<div id="headbar">
    <a id="logo" href="/"></a>
	<div id="headbar_center">
	<h2 id="wallname"><%= yield :heading %></h2>
	</div>
	<div id="headbar_right">
	<div id="user">
		  <% if current_user %>
			<%= link_to "Log Out", signout_path %>
		  <% else %>
			<%= link_to "Sign In with Facebook", "/auth/facebook" %>
		  <% end %>
          <br /><br />
          <%= yield :headbar_links %>
	</div>
	</div>
</div>
</div>