<% if (current_user.has_role(@wall, 'member')) %>

<% content_for :heading do %>
  <%= @wall.name %>
<% end %>

<% content_for :headbar_links do %>
  <a href="#">Add Members</a> | <a href="#">Wall Settings</a>
<% end %>

<%= render 'newquote' %>
<%= render 'quotes' %>

<%else %>
<%  redirect_to request_membership_path %>
<%end%>