<% if (current_user.has_role(@wall, 'member') %>

<%= render 'headbar' %>

<div id="center_column">
<%= link_to  "Add new", new_wall_quote_path(@wall) %>

<%= render 'quotes' %>
</div>
<%else %>
<%  redirect_to request_membership_path %>
<%end%>
